
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


  body{
            position: absolute;
            position-area: center;
            background-image: url('https://static.vecteezy.com/system/resources/previews/017/174/534/non_2x/light-pink-blue-blur-backdrop-vector.jpg');
             
        }
 
 
           h1{
            color:black;
            background:linear-gradient(rgb(186, 170, 19),rgb(82, 218, 45));
            border-radius: 50px;
            border-color: antiquewhite ;
            position-area: top;
            font-display: none;
            font-family:'Courier New', Courier, monospace;
            height: fit-content;
            width: auto;


           }
            legend{
                  /* background: linear-gradient(90deg,rgb(215, 17, 195) 30%, rgb(21, 36, 204) 100%,white);
                  -webkit-text-fill-color: transparent;
                  -webkit-background-clip: text; */
           
            font-family: "Roboto Condensed", sans-serif;
        
            color:blue;
            font-size: 25px;
            font-weight: 700;
            

         }
         #pd{
            color:blue;
         }

        fieldset{
            position-area: center;
            background: linear-gradient(skyblue,lightgreen,lightpink);
            width: 600px;
            height: fit-content;
            border-width: 5px;
            border-radius: 30px;
            border-color: black;

        }
        .submit-btn{
          background-color: blue;
          color:aliceblue;
          width: 100px;
          position: absolute;
          position-area: center;
          position-area: bottom;
          
        }
        
        .submit-btn:hover{
            background-color:orange;
            color: black;
             box-shadow: 0 0 0px 0px white; /* Glow effect */
        }
        .reset{
            color: white;
            background-color:blue;
            width: 100px;
        }
        .reset:hover{
            background-color:beige;
            color:black;
             box-shadow: 0 0 0px 0px white; /* Glow effect */
        }
        form{
            color:black;
            font-family: "Playfair Display", serif,bold;
            border-radius: 50px;
           
        
            
        }
        form:hover{
            color:brown;
        }
        
       
        input{
             transition: box-shadow 0.3s ease-in-out;
             padding: 5px;
             border-radius:5px;
          
             }


         input:hover {
      box-shadow: 0 0 8px 2px blueviolet; /* Glow effect */
    }
        
       
      